.wrapper {
  margin: 0 auto;
  padding: 2.5rem 6.25rem;
  max-width: var(--max-width);
}

.main--home {
  margin-top: 3.9rem;
  display: flex;
  flex-direction: column;
  gap: 2.7rem;
}

.main--about {
  margin-top: 2.75rem;
  display: flex;
  flex-direction: column;
  gap: 1.9rem;
}

.main--apartment {
  margin-top: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}

@media screen and (max-width: 1280px) {
  .wrapper {
    padding: 1.25rem;
  }
}
