.owner {
  width: fit-content;
  display: flex;
  gap: 0.625rem;
  align-items: center;
}

.owner__name {
  text-align: right;
  font-size: 1.125rem;
  width: min-content;
}

.owner__picture {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .owner__name {
    font-size: 0.75rem;
  }

  .owner__picture {
    width: 2rem;
    height: 2rem;
  }
}
