.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 13.125rem;
  min-width: 13.125rem;
  margin-right: 2rem;
}

@media screen and (max-width: 768px) {
  .header__logo {
    width: 9rem;
    min-width: 9rem;
  }
}
