.footer {
  width: 100%;
  min-width: 320px;
  display: flex;
  gap: 2.4rem;
  align-items: center;
  flex-direction: column;
  padding: 4.125rem 0 1.875rem;
  font-size: 1.5rem;
  color: var(--white);
  background-color: var(--black);
}

.footer__logo {
  width: 7.625rem;
  filter: brightness(0) invert();
}

@media screen and (max-width: 768px) {
  .footer {
    gap: 1.75rem;
    padding: 3.875rem 0;
    font-size: 0.75rem;
  }
}
