.banner {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 14rem;
  place-content: center;
}
.banner__image {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  border-radius: 25px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(70%);
}
.banner__tagline {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  color: var(--white);
  font-size: 3rem;
  font-weight: normal;
  line-height: 1;
  display: grid;
  place-content: center;
  z-index: 1;
  margin: 0 1rem;
}

@media screen and (max-width: 768px) {
  .banner {
    grid-template-rows: 7rem;
  }

  .banner__tagline {
    font-size: 1.5rem;
  }
}
