.slider {
  min-width: 280px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.slider__slide {
  grid-row: 1/2;
  grid-column: 1/2;
  height: 26rem;
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
}

.controls {
  grid-row: 1/2;
  grid-column: 1/2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.controls__btn {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.controls__btn--prev {
  transform: rotate(-90deg);
  transition: all;
  transition: transform 0.5s ease;
}

.controls__btn--next {
  transform: rotate(90deg);
  transition: all;
  transition: transform 0.5s ease;
}

.controls__btn--prev:hover {
  transform: rotate(-90deg) scale(1.2);
}

.controls__btn--next:hover {
  transform: rotate(90deg) scale(1.2);
}

.controls__arrow {
  width: 4.9rem;
  filter: drop-shadow(0 0 0.25rem var(--black));
}

.counter {
  grid-row: 1/2;
  grid-column: 1/2;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 1.5rem;
}

.counter__text {
  color: var(--white);
  font-size: 1.125rem;
  line-height: 1;
  padding: 0.5rem 0;
  width: 2.5rem;
  text-align: center;
  font-variant-numeric: tabular-nums;
  border-radius: 5px;
  background-color: hsla(0, 0%, 0%, 30%);
}

@media screen and (max-width: 768px) {
  .slider__slide {
    height: 16rem;
  }
  .controls__arrow {
    width: 1.5rem;
  }
  .counter {
    display: none;
  }
}
